<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>COMP3095_Plus84</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
 <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>ca.gbc.assignment1.servlets.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>RegistrationServlet</servlet-name>
  <servlet-class>ca.gbc.assignment1.servlets.RegistrationServlet</servlet-class>
</servlet> 
  
 <servlet-mapping>
	<servlet-name>RegistrationServlet</servlet-name>
	<url-pattern>/RegistrationServlet</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>AuthenticateServlet</servlet-name>
  <servlet-class>ca.gbc.assignment1.servlets.AuthenticateServlet</servlet-class>
</servlet> 
  
 <servlet-mapping>
	<servlet-name>AuthenticateServlet</servlet-name>
	<url-pattern>/Authenticate</url-pattern>
</servlet-mapping>
</web-app>